@use 'assets/scss/breakpoints';
@use 'assets/scss/variables';

%animate-link {
  background-image:
    linear-gradient($color-dark-red, $color-dark-red),
    linear-gradient($color-dark-red, $color-dark-red);
  background-position: 100% 100%, -30px 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px, 0 1px;

  &:hover {
    @include animation(lineLoop-animation 2s linear infinite);
  }
}

// link animation
@keyframes lineLoop-animation {
  0% {
    background-position: 100% 100%, -30px 100%;
    background-size: 100% 2px, 0 2px;
  }

  to {
    background-position: calc(100% + 30px) 100%, 0 100%;
    background-size: 0 2px, 100% 2px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.homepage-hero-full {
  margin-bottom: variables.$spacing-07;
  padding-bottom: variables.$spacing-12;

  @include devicebreak(medium) {
    margin-bottom: variables.$spacing-10;
  }
}

.search-filter {
  position: sticky;
  top: variables.$spacing-13;
}

.expand-search input[type=text], .expand-search button {
  cursor: auto;
}

.thematicDescription {
  color: variables.$color-gray-600;
  max-width: 46rem;
}

.vacanciesTable {
  margin: variables.$spacing-08 0 $spacing-10;
  border-collapse: collapse;

  @include devicebreak(medium) {
    display: table;
  }
}

.vacanciesTable__header {
  display: none;

  @include devicebreak(medium) {
    display: table-header-group;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: .03em;
  }
}

.vacanciesTable__cell {
  padding: variables.$spacing-03;

  @include devicebreak(medium) {
    padding: variables.$spacing-05 variables.$spacing-03;
    display: table-cell;
  }

  &:first-child {
    grid-column: span 2;
  }

  &:last-child {
    grid-column: span 2;
  }
}

.vacanciesTable__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 variables.$spacing-04;
  padding: variables.$spacing-04 0;

  @include devicebreak(medium) {
    padding: 0;
    display: table-row;
  }
}

.vacanciesTable__header,
.vacanciesTable__row {
  border-bottom: 1px solid variables.$color-gray-500;
}

.vacanciesTableLink {
  background: transparent;
  transition: .1s all ease;

  &:hover,
  &:focus {
    background: variables.$color-gray-200;

    &>.vacanciesTable__cell:first-child span {
      @extend %animate-link !optional;
      @include animation(lineLoop-animation 2s linear infinite);
    }
  }
}

.vacanciesTable__cell__label {
  display: block;
  font-weight: 700;
  font-size: 10px;
  line-height: 1.09%;
  text-transform: uppercase;
  margin-bottom: variables.$spacing-03;

  @include devicebreak(medium) {
    display: none;
  }
}

// copied from stories/Templates/ArticlePage/article-page.scss
.mt-h {
  margin-top: 5.25rem;

  @include devicebreak(medium) {
    margin-top: 8.75rem;
  }

  @include devicebreak(xlarge) {
    margin-top: 11.875rem;
  }
}

.postMetadata {
  border-bottom: 1px solid variables.$color-gray-400;

  @include devicebreak(medium) {
    margin-top: variables.$spacing-10;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  h6 {
    margin-bottom: variables.$spacing-02;
  }

  p {
    color: variables.$color-gray-700;
  }
}

.postMetadata__category {
  margin-bottom: variables.$spacing-06;
}

.postContent {
  margin-bottom: variables.$spacing-09;

  @include devicebreak(medium) {
    margin-bottom: variables.$spacing-13;
  }
}

.buttonsWrap {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-05;
  margin: variables.$spacing-07 0;

  @include devicebreak(medium) {
    flex-direction: row;
  }
}

.application {
  margin-bottom: variables.$spacing-10;
  >div {
    margin: variables.$spacing-08 0 variables.$spacing-09;
  }
}

.application__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: variables.$spacing-06;

  >div {
    margin-bottom: variables.$spacing-05;
    grid-column: span 2;
  }
}

.application__languageRow {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: variables.$spacing-06;
  @include devicebreak(medium) {
    grid-template-columns: repeat(4, 1fr);
  }
  > div:first-of-type {
    @include devicebreak(medium) {
      padding-top: 42px;
      p {
        margin: 0;
      }
    }
  }
}

span[aria-label="required"],
span.required {
  color: variables.$color-red;
}

fieldset {
  padding: 0;
  border: 0;
}

// spacing utilities

.margin-bottom {
  &-03 {
    margin-bottom: variables.$spacing-03;
  }

  &-04 {
    margin-bottom: variables.$spacing-04;
  }

  &-05 {
    margin-bottom: variables.$spacing-05;
  }

  &-06 {
    margin-bottom: variables.$spacing-06;
  }

  &-07 {
    margin-bottom: variables.$spacing-07;
  }

  &-08 {
    margin-bottom: variables.$spacing-08;
  }

  &-09 {
    margin-bottom: variables.$spacing-09;
  }

  &-10 {
    margin-bottom: variables.$spacing-10;
  }
}

.nowrap {
  white-space: nowrap;
}

.select-box--fill {
  max-width: none;
}

.application {

  // fixes misalignment issue
  label+.select-box {
    margin-top: variables.$spacing-03;
    height: 46px;
    button {
      padding: calc(0.625rem + 2px);
    }
    ul {
      top: 44px;
    }
  }

  .select-box button {
    font-weight: 500;
    text-transform: none;
  }
}

.radioWrap {
  display: flex;
  margin-top: variables.$spacing-03;
  flex-direction: column;
  gap: variables.$spacing-05;
  @include devicebreak(medium) {
    flex-direction: row;
  }
}

.is-style-explanation {
  background: variables.$color-gray-200;
  padding: variables.$spacing-06;
  p:last-of-type {
    margin: 0;
  }
}

input[type=file] {
  margin-top: variables.$spacing-03;
}
