@use 'assets/scss/breakpoints';
@use 'assets/scss/variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.search-filter {
  position: sticky;
  top: variables.$spacing-13;
}

.thematicDescription {
  color: variables.$color-gray-600;
}

.vacanciesTable {
  display: table;
  margin: variables.$spacing-08 0 $spacing-10;
  border-collapse: collapse; 
}

.vacanciesTable__header {
  display: table-header-group;
  font-weight: 700;
}

.vacanciesTable__cell {
  display: table-cell;
  padding: variables.$spacing-03;
}

.vacanciesTable__row {
  display: table-row;
}

.vacanciesTable__header,
.vacanciesTable__row {
  border-bottom: 1px solid black;
}

.vacanciesTableLink {
  background: transparent;
  transition: .1s all ease;
  &:hover {
    background: variables.$color-gray-100;
  }
}

// copied from stories/Templates/ArticlePage/article-page.scss
.mt-h {
  margin-top: 5.25rem;

  @include devicebreak(medium) {
    margin-top: 8.75rem;
  }

  @include devicebreak(xlarge) {
    margin-top: 11.875rem;
  }
}

.postMetadata {
  margin-top: variables.$spacing-07;
  border-bottom: 1px solid variables.$color-gray-400;
  @include devicebreak(medium) {
    margin-top: variables.$spacing-10;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  h6 {
    margin-bottom: variables.$spacing-02;
  }
  p {
    color: variables.$color-gray-700;
  }
}

.postMetadata__category {
  margin-bottom: variables.$spacing-06;
}

.postContent {
  margin-bottom: variables.$spacing-09;
  @include devicebreak(medium) {
    margin-bottom: variables.$spacing-13;
  }
}

.buttonsWrap {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-05;
  margin: variables.$spacing-07 0;
  @include devicebreak(medium) {
    flex-direction: row;
  }
}