@use 'assets/scss/breakpoints';
@use 'assets/scss/variables';

%animate-link {
  background-image:
    linear-gradient(variables.$color-dark-red, variables.$color-dark-red),
    linear-gradient(variables.$color-dark-red, variables.$color-dark-red);
  background-position: 100% 100%, -30px 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px, 0 1px;

  &:hover {
    @include animation(lineLoop-animation 2s linear infinite);
  }
}

// link animation
@keyframes lineLoop-animation {
  0% {
    background-position: 100% 100%, -30px 100%;
    background-size: 100% 2px, 0 2px;
  }
  to {
    background-position: calc(100% + 30px) 100%, 0 100%;
    background-size: 0 2px, 100% 2px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.homepage-hero-full {
  margin-bottom: variables.$spacing-07;
  padding-bottom: variables.$spacing-12;
  @include devicebreak(medium) {
    margin-bottom: variables.$spacing-10;
  }
}

.search-filter {
  position: sticky;
  top: variables.$spacing-13;
}

.thematicDescription {
  color: variables.$color-gray-600;
  max-width: 46rem;
}

.vacanciesTable {
  display: table;
  margin: variables.$spacing-08 0 $spacing-10;
  border-collapse: collapse; 
}

.vacanciesTable__header {
  display: table-header-group;
  font-weight: 700;
}

.vacanciesTable__cell {
  display: table-cell;
  padding: variables.$spacing-03;
  &:first-child {
    > span {
      text-decoration: none;
      @extend %animate-link !optional;
    }
  }
}

.vacanciesTable__row {
  display: table-row;
}

.vacanciesTable__header,
.vacanciesTable__row {
  border-bottom: 1px solid black;
}

.vacanciesTableLink {
  background: transparent;
  transition: .1s all ease;
  &:hover {
    background: variables.$color-gray-100;
    span {
      @include animation(lineLoop-animation 2s linear infinite);
    }
  }
}

// copied from stories/Templates/ArticlePage/article-page.scss
.mt-h {
  margin-top: 5.25rem;

  @include devicebreak(medium) {
    margin-top: 8.75rem;
  }

  @include devicebreak(xlarge) {
    margin-top: 11.875rem;
  }
}

.postMetadata {
  border-bottom: 1px solid variables.$color-gray-400;
  @include devicebreak(medium) {
    margin-top: variables.$spacing-10;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  h6 {
    margin-bottom: variables.$spacing-02;
  }
  p {
    color: variables.$color-gray-700;
  }
}

.postMetadata__category {
  margin-bottom: variables.$spacing-06;
}

.postContent {
  margin-bottom: variables.$spacing-09;
  @include devicebreak(medium) {
    margin-bottom: variables.$spacing-13;
  }
}

.buttonsWrap {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-05;
  margin: variables.$spacing-07 0;
  @include devicebreak(medium) {
    flex-direction: row;
  }
}

.application {
  
}

.application__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: variables.$spacing-06;
  > div {
    margin-bottom: variables.$spacing-05;
    grid-column: span 2;
  }
}

span[aria-label="required"] {
  color: variables.$color-red;
}

fieldset {
  padding: 0;
  border: 0;
}

// spacing utilities

.margin-bottom {
  &-03 {
    margin-bottom: variables.$spacing-03;
  }
  &-04 {
    margin-bottom: variables.$spacing-04;
  }
  &-05 {
    margin-bottom: variables.$spacing-05;
  }
  &-06 {
    margin-bottom: variables.$spacing-06;
  }
  &-07 {
    margin-bottom: variables.$spacing-07;
  }
  &-08 {
    margin-bottom: variables.$spacing-08;
  }
  &-08 {
    margin-bottom: variables.$spacing-09;
  }
  &-10 {
    margin-bottom: variables.$spacing-10;
  }
}