{{#if this.gtm}}<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{this.gtm}}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->{{/if}}
<header class="country-header">
  <div class="header">
    <div class="grid-container fluid">
      <div class="grid-x grid-margin-x align-content-middle">
        <div class="cell small-8 large-2 shrink align-self-middle top-left">
          <a href="{{root}}/index.html" class="logo">
            <img src="{{cdn}}images/{{logo}}-logo-blue.svg" alt="UNDP Logo" />
          </a>
          <div class="site-title">
            <span>GLOBAL</span>
            <span>UNDP Careers</span>
          </div>
        </div>
        <div class="cell small-1 large-auto align-content-middle top-center">
          <!-- Top menu goes here -->
        </div>

        <div class="cell small-3 large-auto top-right">
          <div class="dropdown-language">
            <button aria-expanded="false"><span>{{language}}</span></button>
            <ul role="menu">
              {{#ifequal lang "en"}}{{else}}
                <li role="menuitem">
                  <a href="{{@root.root}}" lang="en" hreflang="en" tabindex="-1">English</a>
                </li>
              {{/ifequal}}
              {{#ifequal lang "es"}}{{else}}
                <li role="menuitem">
                  <a href="{{@root.root}}es/" lang="es" hreflang="es" tabindex="-1">Español</a>
                </li>
              {{/ifequal}}
              {{#ifequal lang "fr"}}{{else}}
                <li role="menuitem">
                  <a href="{{@root.root}}fr/" lang="fr" hreflang="fr" tabindex="-1">Français</a>
                </li>
              {{/ifequal}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
