<main>
  <div class="homepage-hero-full">
    <div class="overlay-grey">
      <img src="{{@root.root}}assets/img/home-hero.jpg" alt="" />
    </div>
    <div class="grid-x homepage-hero-content">
      <div class="cell large-7 medium-9 medium-offset-1">
        <h1 class="color-white" data-viewport="true">{{{home.hero.title}}}</h1>
        <h4 class="color-white" data-viewport="true">
          {{{home.hero.subtitle}}}
        </h4>
      </div>
    </div>
  </div>
  <div class="grid-container fluid">
    <div class="grid-x grid-margin-x">
      <div class="cell medium-10 medium-offset-1 margin-bottom-10">
        <h2>{{home.intro.title}}</h2>
        {{{home.intro.text}}}
      </div>
    </div>
    <div class="grid-x grid-margin-x">
      <div class="cell medium-3 margin-bottom-06">
        {{> searchFilter}}
      </div>
      <div class="cell medium-auto">
        <h4 class="margin-bottom-09">All vacancies</h4>
        {{#each home.thematicAreas}}
        <h3>{{this.name}}</h3>
        <h5 class="thematicDescription">{{this.description}}</h5>
        <div class="vacanciesTable">
          <div class="vacanciesTable__header">
            <div class="vacanciesTable__cell nowrap">Job title</div>
            <div class="vacanciesTable__cell nowrap">Category</div>
            <div class="vacanciesTable__cell nowrap">Post level</div>
            <div class="vacanciesTable__cell nowrap">Apply by</div>
            <div class="vacanciesTable__cell nowrap">Agency</div>
            <div class="vacanciesTable__cell nowrap">Location{{home.vacancyHeaders.location}}</div>
          </div>
          {{#each this.vacancies}}
          <a href="post.html" class="vacanciesTableLink vacanciesTable__row">
            {{#each this}}
              <div class="vacanciesTable__cell">
                <div class="vacanciesTable__cell__label">
                  {{{this.label}}}
                </div>
                {{#if this.value}}
                <span>{{{this.value}}}</span>
                {{else}}
                <span>{{{this}}}</span>
                {{/if}}
              </div>
            {{/each}}
          </a>
          {{/each}}
        </div> <!-- .vacanciesTable -->
        {{/each}}
      </div>
    </div>
  </div>

</main>