<main>
  <div class="homepage-hero-full">
    <div class="overlay-grey">
      <img src="{{@root.root}}assets/img/home-hero.jpg" alt="" />
    </div>
    <div class="grid-x homepage-hero-content">
      <div class="cell large-7 medium-9 medium-offset-1">
        <h1 class="color-white" data-viewport="true">{{{home.hero.title}}}</h1>
        <h4 class="color-white" data-viewport="true">
          {{{home.hero.subtitle}}}
        </h4>
        <!-- <a class="button button-primary button-arrow" role="button" href="#">
          {{home.hero.cta}}
        </a> -->
      </div>
    </div>
  </div>
  <div class="grid-container fluid">
    <div class="grid-x grid-margin-x">
      <div class="cell medium-10 medium-offset-1 margin-bottom-10">
        <h2>{{home.intro.title}}</h2>
        {{{home.intro.text}}}
      </div>
    </div>
    <div class="grid-x grid-margin-x">
      <div class="cell medium-3">
        {{> searchFilter}}
      </div>
      <div class="cell medium-auto">
        <h4>All vacancies</h4>
        {{#each home.thematicAreas}}
        <h3>{{this.name}}</h3>
        <h5 class="thematicDescription">{{this.description}}</h5>
        <div class="vacanciesTable">
          <div class="vacanciesTable__header">
            <div class="vacanciesTable__cell">Job
              title{{home.vacancyHeaders.jobTitle}}</div>
            <div class="vacanciesTable__cell">
              Category{{home.vacancyHeaders.category}}</div>
            <div class="vacanciesTable__cell">Post
              level{{home.vacancyHeaders.postLevel}}</div>
            <div class="vacanciesTable__cell">Apply
              by{{home.vacancyHeaders.applyBy}}</div>
            <div class="vacanciesTable__cell">
              Agency{{home.vacancyHeaders.agency}}</div>
            <div class="vacanciesTable__cell">
              Location{{home.vacancyHeaders.location}}</div>
          </div>
          {{#each this.vacancies}}
          <a href="post.html" class="vacanciesTableLink vacanciesTable__row">
            {{#each this}}
              <div class="vacanciesTable__cell">
                <div class="vacanciesTable__cell__label">
                  {{{this.label}}}
                </div>
                {{{this.value}}}
              </div>
            {{/each}}
          </a>
          {{/each}}
        </div> <!-- .vacanciesTable -->
        {{/each}}
      </div>
    </div>
  </div>

</main>