<button class="button button-secondary sort-filter-search">
    Search and filter
    <span>Close</span>
  </button>
  <div class="search-filter">
    <div class="expand-search">
      <button class="expand-button">
        <img src="{{cdn}}images/search-black.svg" alt="search expand" />
      </button>
      <input type="text" aria-label="expand-search" />
      <button class="close-button">
        <img src="{{cdn}}images/times.svg" alt="search close" />
      </button>
    </div>
    <div class="select-wrapper">
      <div class="multi-select" data-multi-select="">
        <button aria-label="Region" aria-expanded="false"
          data-id="filter1">
          By Group
        </button>
        <ul data-type="region" role="listbox" aria-multiselectable="true"
          aria-hidden="true" aria-modal="true">
          <li role="option">
            <div class="form-check">
              <label for="category11">Democratic Governance and Peacebuilding</label>
              <input type="checkbox" id="category11" name="category11"
                value="category1" />
            </div>
          </li>
          <li role="option">
            <div class="form-check">
              <label for="category21">Sustainable Development and Poverty Reduction</label>
              <input type="checkbox" id="category21" name="category21"
                value="category2" />
            </div>
          </li>
          <li role="option">
            <div class="form-check">
              <label for="category31">Climate & Disaster Resilience</label>
              <input type="checkbox" id="category31" name="category31"
                value="category3" />
            </div>
          </li>
          <li role="option">
            <div class="form-check">
              <label for="category41">HIV, Health and Development</label>
              <input type="checkbox" id="category41" name="category41"
                value="category4" />
            </div>
          </li>
          <li role="option">
            <div class="form-check">
              <label for="category51">Gender Equality</label>
              <input type="checkbox" id="category51" name="category51"
                value="category5" />
            </div>
          </li>
          <li role="option">
            <div class="form-check">
              <label for="category61">Management</label>
              <input type="checkbox" id="category61" name="category61"
                value="category6" />
            </div>
          </li>
          <li role="option">
            <div class="form-check">
              <label for="category71">Other opportunities</label>
              <input type="checkbox" id="category71" name="category71"
                value="category7" />
            </div>
          </li>

        </ul>
      </div>
      <div class="multi-select" data-multi-select="">
        <button aria-label="Region" aria-expanded="false"
          data-id="filter2">
          By region
        </button>
        <ul data-type="region" role="listbox" aria-multiselectable="true"
          aria-hidden="true" aria-modal="true">
          <li role="option">
            <div class="form-check">
              <label for="category12">Africa</label>
              <input type="checkbox" id="category12" name="category12"
                value="category1" />
            </div>
          </li>
          <li role="option">
            <div class="form-check">
              <label for="category22">Arab States</label>
              <input type="checkbox" id="category22" name="category22"
                value="category2" />
            </div>
          </li>
          <li role="option">
            <div class="form-check">
              <label for="category32">Asia and the Pacific</label>
              <input type="checkbox" id="category32" name="category32"
                value="category3" />
            </div>
          </li>
          <li role="option">
            <div class="form-check">
              <label for="category42">Europe & the Commonwealth of Independent States</label>
              <input type="checkbox" id="category42" name="category42"
                value="category4" />
            </div>
          </li>
          <li role="option">
            <div class="form-check">
              <label for="category52">HQ and Other</label>
              <input type="checkbox" id="category52" name="category52"
                value="category5" />
            </div>
          </li>
          <li role="option">
            <div class="form-check">
              <label for="category62">Latin America and the Caribbean</label>
              <input type="checkbox" id="category62" name="category62"
                value="category6" />
            </div>
          </li>

        </ul>
      </div>
      <span class="active-filter">Active Filters:</span>
      <div class="selected-chips"></div>
      <button class="clear-search-filter">Clear All</button>
    </div>
  </div>