<main>
  <div class="grid-container fluid mt-h">
    <div class="grid-x">
      <div class="cell large-9 medium-offset-1 medium-10 margin-bottom-07">
        <nav aria-label="breadcrumbs" data-viewport="true"
          class="breadcrumb inviewport">
          <ul>
            <li><a href="{{root}}/index.html" aria-label="Home">Home</a></li>
            <li><a href="post.html">{{post.title}}</a></li>
            <li aria-current="Page title">{{success.title}}</li>
          </ul>
        </nav>
        <div class="post-wrapper" data-viewport="true">
          <h2>{{success.heading}}</h2>
        </div>
      </div>
    </div>
    <div class="grid-x">
      <div class="cell large-9 medium-offset-1 medium-10 margin-bottom-10">
        <p>{{{success.text}}}</p>
      </div>
    </div>
  </div>
</main>